table{
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 40%;
background-color:  #EAE3CF ;
}

.photoacteur{
   height: auto;
    width: 200px; 
}

.lesacteurs {
margin-left: 200px;
font-size: 300%;
font-weight: 700;
}

.nomacteur, .prenomacteur{
    margin-left: 20px;
}
a{
    font-size: 150%;
    color: black;
    text-decoration: none;
    
   
}
.nomacteur{
    font-weight: 700;
    

}

.prenomacteur{
    font-weight: 700;

}