#acteurm{
    display: flex;
    justify-content:  flex-end;
    align-items: center;
    background-color: #EAE3CF;
    
   
    
}
h3{
    font-size: 200%;
}
.imgacteurm{
width: 500px;
height: auto;



}

.affichefilmm{
    width: 100px;
    height: auto;


}

#infoacteurm{
margin-left: 5%;
width: 30%;
display: flex;
justify-content: right;
flex-direction: column;
align-content: center;
}
#titrefilmm {
font-size: 150%;

}
.titrefilmm {
    color: black;
 text-decoration: none;
    
}
.nomacteur{
margin-left: 50px;


}